{% extends 'core/base.html' %}
{% block content %}

				<div class="panel-body">
					<fieldset>
						<legend>Sobre o Sistema</legend>
						<h3>{{status_message}}</h3>
							<div class="row">
								<h4>O nome deste sistema é devido ao fato de ter sido escrito na linguagem de programação Python e o termo "Broadcast" significa o envio de uma informação para todos os elementos de um grupo. Por isso ficou "PyBroadcast".</h4>
								<h4>O objetivo do sistema é enviar mensagens urgentes para todas as estações de trabalho com sistema operacional Windows, em uma determinada rede.</h4>
							</div>
					</fieldset>

					<br/>


				</div><!-- end div.panel-body -->
{% endblock %}